<div class="container mt-5 create-recipe-container">
  <h1>New Recipe</h1>
  <form class="create-recipe-form">
    <div class="input-group mb-3">
      <input type="text" class="focus-ring" placeholder="Title" aria-label="DishTitle" aria-describedby="basic-addon1">
    </div>
    <select aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <div class="input-group mb-3">
      <input type="text" class="focus-ring" placeholder="Ingredients" aria-label="Recipient's username"
             aria-describedby="basic-addon2">
    </div>
    <ul class="ingredients">
      <li class="ingredient">300g sugar <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">1kg carrot <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">300g sugar <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">1kg carrot <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">300g sugar <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">1kg carrot <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">300g sugar <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">1kg carrot <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">300g sugar <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">1kg carrot <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">300g sugar <span><i class="fas fa-trash"></i> </span></li>
      <li class="ingredient">1kg carrot <span><i class="fas fa-trash"></i> </span></li>
    </ul>
    <div class="input-group mb-3">
      <input type="datetime-local" class="focus-ring" placeholder="Ingredients" aria-label="Recipient's username"
             aria-describedby="basic-addon2">
    </div>


    <div class="input-group">
      <textarea class="focus-ring" aria-label="With textarea" placeholder="Description"></textarea>
    </div>
    <div class="input-group">
      <input type="file" class="focus-ring" aria-label="With textarea" placeholder="Description"/>
    </div>



    <div class="btn-group">
      <button type="submit">Create</button>
      <button type="button" class="bg-warning btn-clear">Clear</button>
    </div>


  </form>
</div>
