<div class="form-container sign-in-container">
  <form action="#">
    <h1>Login</h1>
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>or use your account</span>
    <input type="email" placeholder="Email" class="focus-ring"/>
    <input type="password" placeholder="Password" class="focus-ring"/>
    <a href="#">Forgot your password?</a>
    <button>Login</button>
  </form>
</div>
