
body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


.item{
    width: 200px;
    height: 200px;
}

.a{
    background-color: #F7A817;
    animation: slideLeft;
}

.b{
    background-color: #17f780;
    animation: slideLeft;
}

.c{
    background-color: #6917f7;
    animation: slideLeft;
}

.d{
    background-color: #f71765;
    animation: slideLeft;
}

.e{
    background-color: #35f717;
    animation: slideLeft;
}














@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(5px);
        animation: slideUp 0.4s 0.4s forwards;
    }
}
