@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Poppins:wght@400;500&display=swap');

:root {
    --dark-primary: #395cb3;
    --dark-primary-transparent: rgba(57, 92, 179, 0.8);
    --dark-secondary: #493034;
    --light-primary: #f3f3f3;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat Alternat', sans-serif;
    background-color: var(--light-primary);
    position: relative;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--dark-primary-transparent);
    width: 100vw;
    height: 50px;
    overflow-x: clip;
}


.menu-bar {
    background-color: var(--light-primary);
    width: 25px;
    height: 3px;
    border-radius: 15px;
    position: absolute;
}

.left-bar {
    transform: rotate(45deg);
    transition: all .2s linear;
}

.right-bar {
    transform: rotate(135deg);
    transition: all .2s linear;
}

.menu-btn{
    position: absolute;
    top: 22px;
    right: 50px;
}

.menu-btn.open .left-bar {
    transform: rotate(0deg);
    top: 7px;
}
.menu-btn.open .right-bar {
    transform: rotate(0deg);
    top: -7px;
}

.menu-bar.hidden {
    display: none;
}

.navbar {
    text-align: center;
    list-style: none;
    color: var(--light-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    position: absolute;
    right: -300px;
    padding: 1rem 3rem;
    width: 0;
    transition: right .2s linear;
}

.navbar::after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(to top left, #395cb3, #83f6e1);
}

.navbar.active {
    display: block;
    top: 55px;
    right: -5px;
    width: 50%;
}

.nav-item {
    text-align: left;
    margin: .3rem 0;
}

.nav-item--contact{
    transform: translateX(10px);
}
.nav-item--offers{
    transform: translateX(20px);
}
.nav-item--about{
    transform: translateX(30px);
}

.img-bg {
    background-image: url("https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 10rem;
    color: #493034;
    max-width: 20ch;
    margin: auto;
    line-height: 1.4;
}

span {
    position: relative;
    color: #fff;
    max-width: 200px;
    padding: 0 3px;
    z-index: -1;
}

span::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(to top left, #395cb3, #83f6e1);
}

.btn-scroll {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.3);
    color: #395cb3;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    margin: 3rem auto 0;
    border: 2px solid #395cb3;
    border-radius: 10px;
    padding: 1rem;
}

.btn-scroll:hover {
    border: 2px solid #395cb3;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 700;
}

.overlay{
    background-image: linear-gradient(var(--dark-primary-transparent), var(--dark-primary-transparent));
}

@media screen and (min-width: 1000px) {
    h1{
        padding-top: 8rem;
    }

    .btn-scroll {
        background: none;
        margin-top: 1.5rem;
        text-decoration: underline;
        font-weight: 500;
        border: none;
        transition: all .1s linear;
        cursor: pointer;
    }

    .btn-scroll:hover {
        border: 2px solid #395cb3;
        border-radius: 10px;
        padding: 1rem;
        font-weight: 700;
        text-decoration: none;
    }
}