@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Poppins:wght@400;500&display=swap');

:root {
    --dark-blue: #395cb3;
    --dark-blue-transparent: rgba(57, 92, 179, 0.8);
    --turquise: #83f6e1;
    --dark-secondary: #493034;
    --light-primary: #f3f3f3;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat Alternat', sans-serif;
    background-color: var(--light-primary);
    position: relative;
}


.inner,
.outer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    border-radius: 100px 0 0 0;
    background-color: var(--dark-blue);
}

.bar {
    position: relative;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    transition: all .2s linear;
}

.top.closed {
    rotate: 45deg;
    top: 10px;
}

.bot.closed {
    rotate: -45deg;
    top: 0;
}

.mid.closed {
    display: none;
}

.outer {
    width: 300px;
    height: 300px;
    border-radius: 300px 0 0 0;
    background-image: linear-gradient(var(--dark-blue-transparent), var(--dark-blue-transparent));
    transform-origin: right bottom;
    transform: rotate(90deg);
    transition: all .2s ease;
}

.active {
    transform: rotate(0deg);
}

.nav {
    position: relative;
    top: 100px;
    left: 100px;
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.nav-item {
    font-size: 1.25rem;
    padding: 1rem;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    transform: scale(1.2);
}

.item-1 {
    left: 130px;
    bottom: 180px;
}

.item-2 {
    left: 52px;
    bottom: 150px;
}

.item-3 {
    left: -5px;
    bottom: 95px;
}

.item-4 {
    left: -32px;
    bottom: 20px;
}


.overlay{

}


.img-bg {
    background-image: url("https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.text-container {
    position: relative;
    display: inline-block;
}

.h1-first-part {
    animation: slideLeft 1s forwards;
}

.h1-second-part {
    animation: slideRight 1s forwards;
}

/* Special Offers *****************************************************/

.media-scroller {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    grid-auto-columns: 61%;
    padding: 0 .5rem .5rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    padding: .5rem;
    border-radius: 5px;
    gap: .5rem;
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: .5rem;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

/* general styling */
.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: .5rem;
}

.section-title {
    padding-inline-start: 1.75rem;
    margin-block: 4rem .5rem;
}









/*.special-offers{*/
/*    padding: 3rem 5%;*/
/*}*/

/*img{*/
/*    max-width: 100%;*/
/*}*/

/*.card{*/
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    width: 250px;*/
/*}*/

/*.card-header{*/
/*    height: 150px;*/
/*}*/

/*.card-header-img{*/
/*    object-fit: cover;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*.card-content {*/
/*    background-color: #fff;*/
/*    padding: 30px;*/
/*}*/

/*.card-excerpt{*/
/*    color: #777;*/
/*    margin: 10px 0 30px;*/
/*    font-size: 1rem;*/
/*}*/

/*.author{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.profile-img{*/
/*    border-radius: 50%;*/
/*    overflow: hidden;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*}*/

/*.author-info{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*    margin-left: 10px;*/
/*    width: 150px;*/
/*}*/

/*.author-info small{*/
/*    color: #cccccc;*/
/*    margin-top: 5px;*/
/*}*/

/*.animated-bg {*/
/*    background-image: linear-gradient(*/
/*            to right,*/
/*            #f6f7f8 0%,*/
/*            #edeef1 10%,*/
/*            #f6f7f8 20%,*/
/*            #f6f7f8 100%*/
/*    );*/
/*    background-size: 200% 100%;*/
/*    animation: bgPosition 1s linear infinite;*/
/*}*/

/*.animated-bg-text{*/
/*    border-radius: 50px;*/
/*    display: inline-block;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    height: 10px;*/
/*}*/



















/* Animations*/
@keyframes bgPosition {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}

/*@keyframes slideLeft {*/
/*    0% {*/
/*        transform: translateX(-100%);*/
/*    }*/
/*    95% {*/
/*        transform: translateX(5px);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(5px);*/
/*        animation: slideUp 0.4s 0.4s forwards;*/
/*    }*/
/*}*/

/*@keyframes slideRight {*/
/*    0% {*/
/*        transform: translateX(100%);*/
/*    }*/
/*    95% {*/
/*        transform: translateX(-5px);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(-5px);*/
/*        animation: slideUp 0.4s 0.4s forwards;*/
/*    }*/
/*}*/




.hero-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: #493034;
    max-width: 20ch;
    margin: auto;
    line-height: 1.4;
}

.h1-first-part{
    padding-top: 11rem;
}

span {
    position: relative;
    color: #fff;
    max-width: 200px;
    padding: 0 3px;
    z-index: -1;
}

span::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(to top left, #395cb3, #83f6e1);
}

.btn-scroll {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.3);
    color: #395cb3;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    margin: 3rem auto 0;
    border: 2px solid #395cb3;
    border-radius: 10px;
    padding: 1rem;
}

.btn-scroll:hover {
    border: 2px solid #395cb3;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 700;
}



@media screen and (min-width: 1000px) {

    h1{
        font-size: 5rem;
    }

    .btn-scroll {
        background: none;
        margin-top: 1.5rem;
        text-decoration: underline;
        font-weight: 500;
        border: none;
        transition: all .1s linear;
        cursor: pointer;
    }

    .btn-scroll:hover {
        border: 2px solid #395cb3;
        border-radius: 10px;
        padding: 1rem;
        font-weight: 700;
        text-decoration: none;
    }
}